body {
    font-family: Oxygen;
}
h1 {
    margin: 0;
}
.header {
    background-color: #2800B2;
    color: #fff;
    padding: 15px 0;
}
.logo {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;

}

.content {
    max-width: 1280px;
    margin: 20px auto;
    
}