hr {
    margin-bottom: 15px;
    margin-top: 0;
}

.login-block {
    vertical-align: top;
    width: 30%;
    margin: 50px;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,.1);
    padding-right: 10%;
    padding-bottom: 50px;
    margin-bottom: 0;
}
.about-block {
    width: 30%;
    display: inline-block;
    margin: 50px;
}
.landing-info {
    margin-top: 20px;
}
.login-title {
    margin-bottom: 10px;
}
@media (max-width: 875px) {
    .login-block {
        padding-right: 40px;
    }
}
@media (max-width: 725px) {
    .login-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    
    }
    .login-block {
        display: block;
        border-right: 0;
        margin: 0 auto;
        width: 100%;
    }
    .about-block {
        width: 100%;
        margin: 0 auto;
    }
    .login-title {
        margin-top: 30px;
    }
    .form-control {
        text-align: center;
    }
    .btn-primary {
        width: 100%;
    }
}
