.carousel {
  margin: auto;
  width: 100%;
}

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel-item .d-block {
  height: 400px;
}

@media (min-width: 1200px) {
  .carousel-item .d-block {
    height: 600px;
  }
}

@media (min-width: 2000px) {
  .carousel-item .d-block {
    height: 800px;
  }
}

.captionHeader {
  margin-bottom: 30px;
}
