.carousel {
  margin: auto;
  width: 100%;
}

.carousel-item .d-block {
  height: 400px;
}

@media (min-width: 1200px) {
  .carousel-item .d-block{
    height: 600px;
  }
}

@media (min-width: 2000px) {
  .carousel-item .d-block{
    height: 800px;
  }
}

.captionHeader {
  margin-bottom: 30px;
}