.entry-form {
    margin-left: 20px;
    margin-right: 20px;
}

.form-control {
    border: 0;
}
.form-control:focus {
    box-shadow: none;
}

.form-group {
    margin-bottom: 0;
}

Button {
    background-color: #2800B2;
    color: #fff;
}
Button:hover {
    background-color: #6E44FF;
}