.form-control {
    border: 0;
}
.form-control:focus {
    box-shadow: none;
}

.form-group {
    margin-bottom: 0;
}

.entry-btn {
    background-color: #3c3d41;
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 6px 6px 3px;
    margin: 0 2px;
    border: none;
    font-size: 13px;
    width:6.5rem;
    border-radius: 50px;
    padding:5px;
}
.comment-btn {
    color: #3c3d41;
    margin-left: -10px;
}
.comment-btn:hover {
    color: #499BFF;

}
.entry-btn:hover {
    background-color: #499BFF;
    color: #343a40;
    text-decoration: none;
    border: none;
}
.btn {
    margin-right: 0;
    vertical-align: baseline;
    border: none;
}
textarea {
    resize: none;
}
.jumbotron {
    background-color: #fff;
    padding: 2rem 2rem 4rem;
}
.btn-save-entry {
    margin-top: 30px;
}
#entry-body {
    margin-bottom: 30px;
}
.private-check {
    display: inline-block;
}
#private-square {
    margin-right: 5px;
}
.card {
    border-radius: 0;
    border-right: none;
    border-left: none;
}
.card-header {
    background-color: #fff;
    border-bottom: none;
}

.entry-text{
    padding:2% 3%;
    background: #f9fafa;
    border-radius: 10px;
}
