.btn-warning {
    color: #fff;
    border-color: #ffc107;
    visibility: hidden;
}


.btn-danger {
    color: #fff;
    border-color: #dc3545;
    visibility: hidden;
}

.btn-primary, .btn-light{
    border-color: #212529;

}


.btn-danger, .btn-warning, .btn-primary, .btn-light{
    color: #212529;
    background-color: #fcfcfa;
    border-radius: 50px;
    width: 6rem;
    margin: 0.5rem;
    padding: 0.1rem;
    transition: ease-in 0.5s;
    transition: ease-out 0.05s;

}


.comment-content:hover .btn-danger{
    visibility: visible;
}

.comment-content:hover .btn-warning{
    visibility: visible;
}

.button-spacer{
    height:2rem;
}