.landingPage {
    text-align: center;
}



.btn-primary{
    border-color: #212529;

}

 .btn-primary{
    color: #f0f1f3;
    background-color: #131312;
    border-radius: 50px;
    width: 7rem;
    margin: 0.5rem;
    padding: 0.4rem;
    transition: ease-in 0.5s;
    transition: ease-out 0.05s;

}



.login-wrapper{
    margin-top: 5%;
}
.login-wrapper .list-group-item.active {
    background-color: #3c3d41;
    border:none;
}

.login-wrapper .list-group-item{
    font-size: 1rem;
    font-weight: 800;
    background: #f7f7f7;
}